*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


nav{
    background: black;
    opacity:0.7;
    width: 100%;
    padding: 5px 0;
    height: 80px;
}
nav .menu{
    max-width: 2000px;
   
    margin: auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:20px
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #13133a;
}

.menu ul{
    display: inline-flex;
}


.menu ul li{
    list-style: none;
    margin-left: 7px;
    width: 3rem;
}

.items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 0.5px; 
    margin-top: 1rem;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    padding: 0rem 30rem; 
   
    
}

.items .heading{
    flex: auto;
    margin: 1px;
    gap:0.5px;
   
    text-align: center;
    border-radius: 0.7rem;
    height: 13rem;
    width:10rem;
    margin-bottom: 1rem;
    background-color: #050524;
    border-bottom: 15px solid rgb(16, 65, 225);
}

.heading img {
    align-items: center;
    margin-top: 0.5rem;
    width: 60%;
    height: 50%;
    
}
.heading p{
    
    text-align: left;
    color: #fff;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
}
